{
    "tabWidth": 4,
    "printWidth": 120,
    "overrides": [
        {
            "files": "./app/**",
            "options": {
                "tabWidth": 2,
                "printWidth": 80
            }
        }
    ]
}
