telegram_bot_token=
perplexity_ai_token=
open_ai_token=
mongodb_connection_url=
mixpanel_project_token=
labs_api_key=
PORT=8080
server_url=http://localhost:8080
spaces_access_key=
spaces_secret_access_key=
anthropic_ai_token=
NODE_ENV=production
dupdub_api_key=
cdn_url=